* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    transition: background 1000ms;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100vh;
    
}
.color_code, .count {
    font-weight: bold;
    font-size: larger;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 1rem;
    outline: 2px dashed gray;
    outline-offset: -5px;
    transition: outline 1000ms;
}
#hex_code_container {
    color: #00b7ff;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    transition: color 1000ms;
    cursor: pointer;
}

.color_code_n_count {
    display: flex;
    gap: 1rem;
}

#color_count {
    text-shadow: 1px 1px 1px #000000;
    font-size: larger;
}

.btns button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 1.5rem;
    border: none;
    color: #000;
    font-size: large;
    transition: transform 400ms ease-in-out, background 500ms ease-in-out, color 200ms ease-in-out;
    cursor: pointer;
}
.pause_prev {
    display: flex;
    gap: 1rem;
}

.btns button:hover {
    background: #00b7ff;
    color: #ffffff;
    transform: translateY(5px);
}

.alert_msg {
    width: 300px;
    background: rgb(255, 255, 255);
    border-radius: 6px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%) scale(0);
    text-align: center;
    padding: 1rem;
    color: red;
    visibility: hidden;
    transition: transform 400ms, bottom 400ms;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.open_popup {
    visibility: visible;
    bottom: 50%;
    transform: translate(-50%, 50%) scale(1);
}

.alert_msg h2 {
    color: #000;
}

.alert_msg p {
    font-weight: 700;
}

.alert_msg button {
    width: 100%;
    margin-top: 30px;
    padding: 10px 0;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.coppy {
    font-size: 12px;
    background: rgba(255, 255, 255, 0.9);
    font-weight: bolder;
    border-radius: .7rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    padding: .3rem;
    position: absolute;
    transform: translate(-10px, 0px) scale(0);
    visibility: hidden;
    transition: transform 500ms ease-in-out;
}

.coppy_visible {
    visibility: visible;
    transform: translate(-10px, -30px) scale(1);
}

#hex_code span {
    display: flex;
    flex-direction: column;
}

#hex_code {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    padding: .5rem;
}
.options h2 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #3f3f3f;
}

.all_options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
    border: 2px dashed #3f3f3f;
    border-radius: .5rem;
}
.all_options button {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.red {
    color: red;
}
.green {
    color: green;
}
.blue {
    color: blue;
}
.grey, .red, .green, .blue {
    font-weight: 700 !important;
}

/* ============ OTHER SCREEN SIZES ============== */

@media screen and (max-width: 425px) {
    #main {
        margin: 1rem;
        height: 100%;
    }
    .color_code_n_count {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .options {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    #prev {
        position: fixed;
        left: .5rem;
        top: 50%;
        box-shadow: 2px 0 3px;
    }
    #pause_btn {
        position: fixed;
        right: .5rem;
        top: 50%;
        box-shadow: -2px 0 3px;
    }
    .color_code_n_count {
        position: sticky;
        top: 1rem;
    }
    .alert_msg {
        position: fixed;
    }
    
}